{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "arrowFunctions": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "generators": true,
    "modules": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "rules": {
    "eqeqeq": 1,
    "curly": 2,
    "quotes": [1, "single"]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "LOG": true
  }
}
